.cartContainer {
  width: 85%;
  border: 1px solid lightgrey;
  height: 85%;
  border-radius: 5px;
  margin-top: 4.5rem;
  
  .cartBox {
    padding: 0 1.5rem;
    height: 345px;
    margin-top: 1rem;

    .cartTitle {
      font-size: larger;
      margin-bottom: 2rem;
      font-weight: 700;
    }

    .listWrap {
      margin-bottom: 3rem;
    }

    .list {
      display: grid;
      grid-template-columns: 20% 75%;
      grid-gap: 1rem;
      position: relative;
      margin-bottom: 1.5rem;
      .imgWrap {
        grid-row: 1/3;

        .img {
          width: 100%;
          border-radius: 5px;
          object-fit: cover;
        }

      }

      .infoWrap {
        display: flex;
        justify-content: space-between;
        
        .price {
          font-weight: 600;
        }

      }

      .buttonWrap {
        display: flex;
        align-items: center;
        padding-top: 1rem;

        .logo {
          border: 1px solid white;
          border-radius: 50%;
          background: lightgray;
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          align-items: center;
          
          &:hover {
            background: darkgray;
          }
        }

        .number {
          margin: 0 25px;
        }

      }

    }
  }

  .totalWrap {
    padding: 0 1.5rem 0 1.5rem;

    .line {
      height: 1px;
      background-color: lightgray;
      margin: 1rem 0 1.5rem 0;
      
    }
    
    .totalTitle {
      display: flex;
      justify-content: space-between;
      
      .price {
        font-weight: 600;
      }

    }

  }

}

// darkTheme 
#darkBackground {
  background: darkslategray;
  border: 1px solid gray;
}


@media (max-width: 576px) {
  .cartContainer {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
    .cartBox {
      height: 220px;
      padding-bottom: 1rem;
    }

    .totalWrap {
      padding-bottom: 1rem;
    }
  }
}



